// lude-form stylesheet

#multistepform {
  min-width: 90%;
  min-height: 70%;
}

#multistepform-bg {
  background-image: url('/img/lude-bg-small.jpg');
  background-repeat: repeat-y;
}

.has-mask {
  position: absolute;
  clip: rect(10px, 150px, 130px, 10px);
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: cursive, sans-serif;
  outline: 0;
  background: #abeaff;
  color: #285361;
  border: 1px solid #285361;
  padding: 4px;
  border-radius: 9px;
}

option {
  font-family: cursive, sans-serif;
  background: #abeaff;
  color: #285361;
}

